@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0px;
    padding: 0px;
}

body {
    background: linear-gradient(#f5f5f5, #e6e9f0, #eef1f5);
    color: #333;
    font-family: "Poppins", sans-serif;
}

.navlinks {
    display: flex;
    gap: 20px;
    height: 10vh;
    justify-content: space-around;

    padding: 0;
    list-style-type: none;

}

.navbar {
    display: flex;
    justify-content: space-between;
    color: whitesmoke;
    background-color: rgb(5, 30, 50);
    padding: 20px;
    height: 40px;
    /* gap: 100px; */

}

.logo {
    width: 40px;
    height: 40px;

    border-radius: 50%;
    object-fit: cover;
}

.left-nav logo-text {
    margin-top: 150x;
    /* margin: 0px; */
    padding: 0px;

}

.left-nav {
    /* margin-top:px; */
    display: flex;
    gap: 10px;
}

.hero-intro {
    display: flex;
    padding: 50px;
    color: whitesmoke;
    background-color: rgb(5, 30, 50);
}

.orange-font {
    color: orange;
}



.image {
    width: 400px;
    height: 400px;
    border-radius: 50%;
    object-fit: cover;
    /* margin-left: auto; */
}

.intro p {
    width: 600px;
    border: 2px solid yellowgreen;
}

.main-logo {
    margin-left: auto;
}

.heading h1,
.heading h4 {
    text-align: center;
}

.heading {
    display: flex;
    flex-direction: column;
    justify-content: space-around;

    align-items: center;
    /* padding: 30px;
    margin: 40px; */

}
.resume{
    height: 20px;
    width: 80px;
    /* padding: 6px 12px; */
    background: transparent;
    border: 1px solid orchid;
    color: aqua;
}

.Progress {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.skill-logo {
    display: flex;
    flex-direction: column;
    width: 1200px;
    height: 210px;
    border-radius: 20px;
    justify-content: space-around;
    padding: 20px 15px 10px 5px;
    box-shadow: 0px 0px 4px 1px white;
}

.row-one {
    display: flex;
    justify-content: space-around;
    gap: 10px;
}

.row-two {
    display: flex;
    justify-content: space-around;
    gap: 10px;
}

.skills-icons {
    border: 1px solid orange;
    display: flex;
    justify-content: space-between;
    height: 30px;
    padding: 5px 15px 5px 15px;
    border-radius: 5px;

}

.skills-icons p {
    margin-top: 3px;
    margin-left: 10px
}

.row-three {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.myskill {
    margin: 20px;
}

.linkedin button {
    border-radius: 4px;
    border: none;
    padding: 10px;
    text-align: center;
    font-size: 40px;
    background-color: orange;
    color: white;
    align-self: center;
}

.linkedin {
    text-align: center;
    margin-bottom: 50px;
}

.yt {
    height: 300px;
    width: 300px;
    border-radius: 10px;
    box-shadow: 0px 0px 4px 1px white;

}

.video-box {
    display: flex;
    width: 1000px;
    height: 300px;
    border-radius: 20px;
    padding: 20px 15px 10px 5px;
    justify-content: space-between;

}

.video-container {
    background-color: gray;
    width: 100%;
    height: 70%;
    border-radius: 5px;
}

.video-details {
    padding: 20px;
    margin-bottom: 5px;
    /* align-items: center; */

}

.yt-text {
    color: red;
    text-align: center;
    padding-top: 90px;
}

.Project {
    display: flex;
    flex-direction: column;
    height: 450px;
    border-radius: 20px;
    padding: 20px 15px 10px 5px;
    align-items: center;
}
.project-container{
    display: flex;
    justify-content: space-between;
    gap:30px;
}
.project-card{
    box-shadow: 0px 25px 25px 1px white;
    width: 40%;
}

.project-image {
    /* background-color: gray; */
    width: 30%;
    /* height: 80%; */
    border-radius: 5px;
}

.project-details {
    padding: 20px;
     margin-bottom: 5px;
    width: 180px;
}

footer{
    background-color:  rgb(5, 30, 50);
    text-align: center;
    height: 200px;
    padding: 50px;
    color: white;
}
.contact-p{
    margin-bottom: 20px;
}